In [1]:
import pandas as pd

In [2]:
# Load the CSV file
df = pd.read_csv('sample_data.csv')

In [4]:
print("First few rows of the data:")
df.head()

First few rows of the data:

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   50000
1   2      Bob   30    Finance   60000
2   3  Charlie   35         IT   70000
3   4    David   40  Marketing   80000
4   5      Eve   45      Sales   90000

In [6]:
print("\
      Dataset Info:")
df.info()

      Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      int64
 1   Name        5 non-null      object
 2   Age         5 non-null      int64
 3   Department  5 non-null      object
 4   Salary      5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes